<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<br>

<%= link_to "< BACK", restaurants_path %> ||
<%= link_to "LEAVE A REVIEW", new_restaurant_review_path %>
